[submodule "ansible/darthwade.ansible-role-wordpress"]
	path = ansible/darthwade.ansible-role-wordpress
	url = https://github.com/darthwade/ansible-role-wordpress.git
[submodule "ansible/roles/darthwade.ansible-role-wordpress"]
	path = ansible/roles/darthwade.ansible-role-wordpress
	url = https://github.com/darthwade/ansible-role-wordpress.git
[submodule "roles/geerlingguy.ansible-role-mysql"]
	path = roles/geerlingguy.ansible-role-mysql
	url = https://github.com/geerlingguy/ansible-role-mysql
[submodule "ansible/roles/geerlingguy.ansible-role-mysql"]
	path = ansible/roles/geerlingguy.ansible-role-mysql
	url = https://github.com/geerlingguy/ansible-role-mysql
[submodule "ansible/roles/Nainterceptor.com"]
	path = ansible/roles/Nainterceptor.com
	url = https://github.com/Nainterceptor/ansible-role-common.git
[submodule "ansible/roles/Nainterceptor.common"]
	path = ansible/roles/Nainterceptor.common
	url = https://github.com/Nainterceptor/ansible-role-common.git
[submodule "ansible/roles/Nainterceptor.ansible-role-wordpress"]
	path = ansible/roles/Nainterceptor.ansible-role-wordpress
	url = https://github.com/Nainterceptor/ansible-role-wordpress.git
