- hosts: all
  vars:
    wp_version: 4.0
    wp_install_dir: '/var/sites/awesome_wordpress_site'
    wp_db_name: 'wordpress_db'
    wp_db_user: 'wordpress_user'
    wp_db_password: 'changeme'
    wp_db_host: 'localhost'
  roles:
    - darthwade.wordpress