- hosts: all
  vars:
    wp_version: 4.0
    wp_install_dir: '/var/sites/awesome_wordpress_site'
    wp_db_name: 'wordpress_db'
    wp_db_user: 'wordpress_user'
    wp_db_password: ''
    wp_db_host: 'localhost'
    mysql_root_home: '/root'
    mysql_root_username: 'root'
    mysql_root_password: 'changeme'
    mysql_root_password_update: yes
    mysql_enabled_on_startup: yes
  roles:
    - bootstrap
    - pips
    - Nainterceptor.ansible-role-wordpress

